<div class="row mr-0 ml-0 justify-content-center pt-4">
  <div class="col-6">
    <div class="card text-white bg-dark">
      <h3 class="card-header">Categories</h3>
      <div class="card-body">
        <% @categories.each do |category| %>
          <h3 class="card-text text-white"><%= link_to category.name, category_path(category) %></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>