<div class="row mr-0 ml-0 justify-content-center pt-3">
  <div class="col-8">
    <div class="card text-white bg-dark">
      <div class="card-body">
      <h1 class="card-header text-white text-center">Categories</h1>
        <% @categories.each do |category| %>
          <h3 class="card-text text-white"><%= link_to category.name, category_path(category) %></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>