<div>
  <% @categories.each do |category| %>
    <div class="card-group">
      <div class="col-sm-3">
        <div class="card mb-4 bg-light">
         <p><%= link_to category.name, category_path(category) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>