<div class="justify-content-center mt-3">
  <div class="col-8 m-auto">
    <div class="card text-center text-white bg-dark">
      <h1 class="card-header text-white"><%= @about.header %></h1>
      <div class="card-body">
        <p class="card-text"><%= @about.content %></p>
      </div>
    </div>
  </div>
</div>