<h1 class="mb-5 row mr-0 ml-0 justify-content-center">Characters</h1>
<div class="row mr-0 ml-0 justify-content-center">
  <div class="col-8">
      <% @categories.each do |category| %>
        <p>-<%= category.name %></p>

        <% @products.where(category_id: category.id).each do |product| %>
          <p>---<%= product.name %></p>
        <% end %>
      <% end %>
  </div>
</div>