// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login-form{
  margin: auto;
  width: 400px;
}

.login-form input{
  width: 50%;
  margin: 5px;
}

.submitbtn {
  margin: 10px 0 10px 0px;
}