// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


ul li.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}