// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-result {
  background-color: silver;
  padding-left: 7px;
  border: black solid 1px;
}

p {
  margin-bottom: 0;
}